a_token=your_value_here
access_token=your_value_here
access_token_str=your_value_here
ADMIN_PASSWORD=REDACTED_SEE_ENV
ADMIN_TOKEN=your_value_here
admin_token=your_value_here
database_url=REDACTED_SEE_ENV
DATABASE_URL=REDACTED_SEE_ENV
default_password_warning=your_value_here
expired_token=your_value_here
hashed_password=your_value_here
HOST_DATABASE_URL=your_value_here
m_token=your_value_here
MANAGER_PASSWORD=REDACTED_SEE_ENV
MANAGER_TOKEN=your_value_here
manager_token=your_value_here
password=your_value_here
password_map=your_value_here
refresh_token=your_value_here
refresh_token_str=your_value_here
STAFF_PASSWORD=REDACTED_SEE_ENV
staff_token=your_value_here
STAFF_TOKEN=your_value_here
TEST_DATABASE_URL=REDACTED_SEE_ENV
token=your_value_here
token_version=your_value_here
token1=your_value_here
token2=your_value_here
tokens=your_value_here

